<launch>
	
    <arg name="mapFilePath"         default="map_flight_area.txt"/>
    <arg name="octomapFileName"         default="map_flight_area.bt"/>	


    <node pkg="octomap_testing" type="octomap_creator_node" name="octomap_creator" output="screen">
        <param name="mapFile"       value="$(find octomap_testing)/maps/$(arg mapFilePath)" />
        <param name="octomapFile"  value="$(find octomap_testing)/maps/$(arg octomapFileName)" />
    </node>

</launch>

