<launch>

    <arg
        name="map_path"
        default="$(find-pkg-share octomap_testing)/maps/map_flight_area.bt"/>

    <arg
        name="rvizFile"
        default="$(find-pkg-share octomap_testing)/rviz/octomap_world.rviz"/>

    <!-- Octomap application -->
    <node
        name="octomap_server"
        pkg="octomap_server"
        exec="octomap_server_node"
        output="screen">

        <!-- ROS 2 loads the Octomap file through a parameter. -->
        <param name="octomap_path" value="$(var map_path)"/>

        <param name="frame_id" value="map"/>

    </node>

    <node
        pkg="rviz2"
        exec="rviz2"
        output="screen"
        name="rviz2"
        args="-d $(var rvizFile)"/>

</launch>